<!DOCTYPE html>
<html lang="en" class="no-js">
   <% include ./includes/header %>
  <body ng-app="nodejsscafold">
  <nav-bar></nav-bar>
  <div id="wrapper">
    <div id="page-wrapper">
      <div data-ui-view></div>
    </div>
  </div>
  <% include ./includes/js-scripts %>
</body>
</html>
